{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}


{% block title %}Pagina's - Content Management Systeem{% endblock %}

{% block header %}
    <div class="col-lg-12">
        <h1 class="sub-header">Dashboard</h1>
        <p class="lead">Welkom in het beheersysteem voor uw website.</p>
    </div>
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="well">
            <p>Zodra er genoeg gegevens zijn verzameld, krijgt u op deze pagina de bezoekers statistieken te zien van uw website.</p>
            <p>Gebruik het menu bovenaan om uw website te beheren.</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}