{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}


{% block title %}Pagina's - Content Management Systeem{% endblock %}
{% block content %}

<header class="jumbotron subhead">
	<h1>Dashboard</h1>
	<p class="lead">Welkom in het beheersysteem voor uw website.</p>
</header>

<div class="row-fluid">
	<div class="span12">
		<div class="well">
			 <p>Zodra er genoeg gegevens zijn verzameld, krijgt u op deze pagina de bezoekers statistieken te zien van uw website.</p>
			 <p>Gebruik het menu bovenaan om uw website te beheren.</p>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}