{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}


{% block title %}Helpdesk - Content Management Systeem{% endblock %}

{% block header %}
	<div class="col-lg-12">
		<h1 class="page-header">Helpdesk</h1>
		<p class="lead">Heeft u vragen over het beheren van uw website? Of wilt u een wijziging in uw website die u zelf niet kunt doen? Gebruik dan dit formulier om in contact te komen met uw website ontwikkelaar (K&amp;R Solutions). Uw vraag wordt binnen 24 uur behandeld.</p>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="well">
			<form method="post" action="{{ path ('kr_solutions_krcms_helpdesk') }}" {{ form_enctype(contactForm) }}>
				{{ form_rest(contactForm) }}
				<input type="submit" value="Versturen" />
			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}