.navbar-brand img {
	height: 50px;
	width: 83px;
	margin-top: -23px;
	margin-right: 8px;
	float: left;
	display: block;
}

.navbar-brand {
	height: 52px;
	padding: 25px;
}

.navbar-inverse .navbar-brand {
	color: #ddd;
}

.table-row-dragged td,
.table-row-dragged th {
	background-color: #eeddee !important;
}

#page-footer {
	text-align: center;
	margin-top: 5px;
}

#page-footer img {
	display: inline;
	margin-top: -5px;
}